<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atey.mapper.MarketProducesMapper">

    <update id="updateMarket" parameterType="com.atey.entity.MarketProduces">
        update produce.market_produces
        <set>
            <if test="status!=null">
                status = #{status},
            </if>
            <if test="weight!=null">
                weight = weight + #{weight},
            </if>
            <if test="deleted!=null">
                deleted = #{deleted},
            </if>
            <if test="updateTime!=null">
                update_time = #{updateTime},
            </if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>

</mapper>
