<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atey.mapper.OrdersDetailMapper">

    <select id="chartCategory" resultType="com.atey.entity.ChartCategory">
        select produce.orders_detail.produce_category as category, sum(produce.orders_detail.amount) as amount
        from produce.orders_detail
        where status = 1
        group by produce.orders_detail.produce_category
        order by amount
    </select>

</mapper>