<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atey.mapper.OrdersMapper">

    <update id="update">
        update produce.orders
        <set>
            <if test="addressBookId!=null">
                address_book_id = #{addressBookId},
            </if>
            <if test="consigneeName!=null and consigneeName!=''">
                consignee_name = #{consigneeName},
            </if>
            <if test="phoneNumber!=null and phoneNumber!=''">
                phone_number = #{phoneNumber},
            </if>
            <if test="addressBookName!=null and addressBookName!=''">
                address_book_name = #{addressBookName},
            </if>
            <if test="remark!=null and remark!=''">
                remark = #{remark},
            </if>
            <if test="status!=null">
                status = #{status},
            </if>
            <if test="completeTime!=null">
                complete_time = #{completeTime},
            </if>
            <if test="cancelTime!=null">
                cancel_time = #{cancelTime},
            </if>
            <if test="deleted!=null">
                deleted = #{deleted},
            </if>
            <if test="updateTime!=null">
                update_time = #{updateTime},
            </if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>

</mapper>