<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atey.mapper.UserMapper">

    <update id="update" parameterType="com.atey.entity.User">
        update user
        <set>
            <if test="username!=null and username!=''">
                username = #{username},
            </if>
            <if test="password!=null and password!=''">
                password = #{password},
            </if>
            <if test="gender!=null and gender!=''">
                gender = #{gender},
            </if>
            <if test="status!=null and status!=''">
                status = #{status},
            </if>
            <if test="type!=null and type!=''">
                type = #{type},
            </if>
            <if test="image!=null and image!=''">
                image = #{image},
            </if>
            <if test="phoneNumber!=null and phoneNumber!=''">
                phone_number = #{phoneNumber},
            </if>
            <if test="email!=null and email!=''">
                email = #{email},
            </if>
            <if test="deleted!=null and deleted!=''">
                deleted = #{deleted},
            </if>
            <if test="updateTime!=null">
                update_time = #{updateTime},
            </if>
        </set>
        where id = #{id}
    </update>
    <select id="countBG" resultType="com.atey.entity.ChartBG">
        select gender, count(gender) as count
        from produce.user
        <where>
            and status = 1
            and deleted = 1
        </where>
        group by gender
    </select>
    <select id="countByMap" resultType="java.lang.Integer" parameterType="java.util.Map">
        select count(id) from produce.user
        <where>
            <if test="begin != null">
                and create_time &gt; #{begin}
            </if>
            <if test="end != null">
                and create_time &lt; #{end}
            </if>
        </where>
    </select>

</mapper>